- type: job
  id: ChiefTechnicalSpecialist
  name: job-name-chief-technical-specialist
  description: job-description-chief-technical-specialist
  playTimeTracker: JobChiefTechnicalSpecialist
  requirements: # TODO: Поменять после того, как игроки наберут время на новых ролях
  - !type:OverallPlaytimeRequirement
    time: 144000 # 40 часов
  weight: 10
  startingGear: ChiefTechnicalSpecialistGear
  icon: JobChiefTechnicalSpecialist
  supervisors: job-supervisors-director
  radioBold: true
  displayWeight: 70
  canBeAntag: true
  access:
  - Maintenance
  - Engineering
  - Command
  - External
  - ChiefEngineer
  - Atmospherics
  - Brig
  - Cryogenics
  special:
  - !type:AddComponentSpecial
    components:
    - type: CommandStaff

- type: startingGear
  id: ChiefTechnicalSpecialistGear
  equipment:
    id: CEPDA
    #    head: ClothingHeadHatHardhatWhite
    eyes: ClothingEyesGlassesMeson
    ears: ClothingHeadsetAltEngineeringTechnicalService
    belt: ClothingBeltUtilityEngineering
  storage:
    back:
    - Flash
    - Telebaton
